body {
    overflow-x: hidden;
}

.homepage {
    transition: opacity 300ms;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.home {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100vw !important;
    padding: 0;
    margin: 0;
}

h3 {
    color: lightgray;
}

.screen1 {
    padding: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.screen1Table {
    width: 500px;
    height: 280px;
    background: url("./../../assets/landingpg/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    filter: contrast(100%);
}

.perfec {
    text-align: left;
    color: #535bf2;
    font-size: 56px !important;
    transition: transform 400ms;
    margin: 0;
    padding: 0;
    height: 64px !important;
    font-family: 'Times New Roman', Times, serif;
}

.perfec2 {
    text-align: left;
    font-size: 24px !important;
}

.t1 {
    height: 460px;
    padding: 0;
}

.s1Right {
    width: 500px;
}

.s1Left {
    width: 540px !important;
    min-width: 500px;
}

.getStarted {
    cursor: pointer;
    font-size: 14px;
    float: left;
    height: 42px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 24px;
    border: solid 3px #535bf2;
}

.screen2,
.screen3 {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.t2,
.t3 {
    border-radius: 5px;
    height: 400px;
    width: 1140px;
    background-color: #181818;
}

.t2L {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    background: url("../../assets/pic1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 400px;
    width:  400px;
}

.t2R {
    width: 740px;
    min-width: 640px;
    height: 400px;
}


.t3L {
    height: 320px;
    width:     610px;
    min-width: 610px;
}

.t3R {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 500px;
    min-width: 500px;
    background: url("../../assets/dev.png");
    background-size: 100% 100%;
    background-position: center;
    height: 400px;
}


.TextContainer {
    width: 100%;
    height: 100%;
}

.screen1 {
    transition: transform 400ms;
}

.screen2,
.screen3 {
    transition: transform 800ms;
}

.t1 {
    transition: opacity 700ms;
}

.t2,
.t3 {
    transition: opacity 800ms;
}


@media only screen and (max-width: 1140px) {
    body {
        overflow-x: scroll;
    }
}