.searchbar {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 600px; /*1140px;*/
    height: 52px;
}
.searchbartable {
    width: 500px;
    height: 52px;;
}
.searchbarlinks{
    width: 33%;
    background-image: url("../../../assets/magenta.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size:0% 5px;
    transition: background-size 400ms;
}
.searchbarlinks:hover{
    background-size:100% 5px;
}