.footerLogin {
  z-index: 5;
  /*background-color: #0f0f0f;*/
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  font-size: 14px;
}

.footerLoginTable {
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.footerLoginTable td{
  padding-left:  30px;
  padding-right: 30px;
}