.Login {
  /*background: rgba(0, 0, 0, 0);*/
  z-index: 1;
  width: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 150ms;
}

.loaded {
  opacity: 1;
}

.hidden {
  display: none;
}

.login {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  width: 340px;
  background-color: #242424;
  border-radius: 5px;
}

.titleLogin {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

.bitdown {
  margin-top: 10px !important;
}

h2,
h4,
h5 {
  padding: 0;
  margin: 0;
}

.loginTable {
  width: fit-content !important;
  height: fit-content !important;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.nill {
  width: 1px;
}

#usernameLogo,
#passwordLogo {
  z-index: 2;
  width: 30px;
  height: 30px;
  position: relative;
  left: 24px;
  top: 10px;
}

.zero {
  width: 0;
  height: 0;
}

#username,
#password {
  width: 190px;
  padding-left: 46px !important;
  padding-right: 46px !important;
  position: relative;
  right: 15px;
}

#pwdVisiblityLogo {
  padding: 3px;
  width: 26px;
  height: 26px;
  position: relative;
  left: 275px !important;
  bottom: 39px !important;
  border-radius: 20px;
  transition: background-color 300ms;
}

#pwdVisiblityLogo:hover {
  cursor: pointer;
}

.gotoregister {
  width: 336px;
  height: 60px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
  border: 2px #535bf2 solid;
  /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23535BF2FF' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='47' stroke-linecap='butt'/%3e%3c/svg%3e");*/
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authenticate {
  width: 160px;
  border-radius: 5px !important;
  transition: box-shadow 200ms color 200ms;
}

.forgot {
  position: relative;
  right: 90px;
  font-size: 14px;
}