.Login {
  opacity: 0;
  transition: opacity 300ms;
}

.loaded {
  opacity: 1;
}

.hidden {
  display: none;
}


.login {
  padding-top: 10px !important;
  width: 360px;
  height: 310px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  box-shadow: 2px 2px 20px 5px #535bf213;
}

.titleLogin {
  padding: 0;
  margin: 0;
}


#rememberme {
  height: 18px;
  width: 18px;
  padding: 0;
  accent-color: #535bf2;
}

.bitdown {
  margin-top: 10px !important;
}

h6{
  margin: 0;
  padding: 15px 0 0 0;
}

h4,
h5 {
  padding: 0;
  margin: 0;
}

.inlined {
  margin-top: 15px;
  display: inline-flex;
  height: fit-content !important;
  width: fit-content !important;
  padding: 0 !important;
  cursor: default;
}

#loginTable {
  left: -18px;
}

table {
  margin: auto auto;
  position: relative;
}

#usernameLogo,
#passwordLogo {
  width: 30px;
  height: 30px;
  position: relative;
  left: 58px;
  top: 11px;
}

.zero {
  width: 0;
  height: 0;
}

#pwdVisiblityLogo {
  padding: 3px;
  width: 26px;
  height: 26px;
  position: relative;
  left: 282px !important;
  bottom: 40px !important;
  border-radius: 20px;
  transition: background-color 300ms;
}

#pwdVisiblityLogo:hover {
  cursor: pointer;
}

#lLogo {
  z-index: 2;
  width: 22px;
  height: 22px;
  position: relative;
  bottom: 0px;
}

#fLogo,
#gLogo {
  width: 32px;
  height: 32px;
  position: relative;
  bottom: 0px;
}

#username,
#password {
  padding-left: 46px !important;
  padding-right: 46px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.nilll {
  width: 1% !important;
}

.fill {
  width: 99% !important;
}

.register {
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center !important;
}

.oAuthBtn {
  width: 80px;
  height: 50px;
  margin-right: 5px;
}

#authenticate {
  width: 200px;
  cursor: pointer;
}

.forgot {
  position: relative;
  right: 90px;
  font-size: 14px;
}