.LoginNavbar {
    z-index: 5;
    height: 64px;
    width:100%;
    background-color: #242424;
    position: fixed;
}
.navTable{
    width: 92%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.navLogo{
    width: 170px;
    background: url("./../../assets/logo.png");
    background-size: 90% 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode:saturation(100%);
    filter: contrast(100%);
}
.navLogo:hover{
    cursor: pointer;
}
.registerOptions{
    width: fit-content;
    float: right;
}
.gobacklogin{
    font-size: 16px;
    color: #d27f12;
}
.gobacklogin:hover {
    color :#eaa345;
    cursor:pointer;
}

.btx{
    display: flex;
    align-items: center;
}

.bt1, .bt2 {
    font-size: 14px;
    border: none;
    height: 42px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
}

.bt1{
    margin-right: 10px;
    background-color: rgba(0,0,0,0);
    border:  solid 3px #535bf2;
}
.bt2{
    background-color:#535bf2;
}